body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1b2d4f;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
.header img {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.header p {
    margin: 5px 0;
}
.container {
    padding: 20px;
}
.question-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
button {
    margin-top: 5px;
    background-color: #b61823;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #9b8233;
}
.answer {
    display: none;
    color: #1b2d4f;
    margin-top: 5px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .header img {
        display: none;
    }
    .header {
        padding: 10px;
    }
    .header h1 {
        font-size: 20px;
    }
    .header p {
        font-size: 14px;
    }
}
